{erl_opts, [debug_info]}

.
{deps,
 [{lager, "3.9.2"},
  {vernemq_dev, {git, "https://github.com/gojekfarm/vernemq_dev.git", {branch, "master"}}},
  {cuttlefish, {git, "https://github.com/Kyorai/cuttlefish.git", {tag, "v3.4.0"}}},
  {vmq_enhanced_auth, {path, "vmq_enhanced_auth"}},
  {vmq_events_sidecar, {path, "vmq_events_sidecar"}}]}

.
{overrides, [{override, clique, [{erl_opts, [debug_info]}]}]}

.
{plugins, [rebar3_path_deps]}

.
