{erl_opts, [
    {parse_transform, lager_transform},
    warnings_as_errors,
    debug_info
]}.

{deps, [
    {clique, {git, "https://github.com/vernemq/clique.git", {tag, "0.3.7-verne"}}},
    {shackle, {
        git,
        "https://github.com/lpgauth/shackle.git",
        {tag, "0.6.19"}
    }}
]}.
